@import '../../varaibles';

header {
    width: 100%;
    height: auto;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        cursor: pointer;

        .title {
            font-size: 40px;
        }
    }

    .nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        position: relative;

        span {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000;
            color: #fff;
            font-size: 12px;
            position: absolute;
            left: 15px;
            top: 15px;
        }

        .nav-button {
            padding: 0;
            border: none;
            background-color: transparent;
            color: $primaryColor;
            font-size: 25px;
        }
    }
}