.profile-page {
    width: 100%;
    height: auto;
    min-height: 80vh;
    padding: 40px 7%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
        width: 100%;
        font-size: 50px;
        text-transform: capitalize;
        text-align: right;
    }

    .dashboard {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .card-container {
            width: 50%;
            min-width: 300px;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            &:nth-child(1) {
                align-items: flex-start;
            }

            &:nth-child(2) {
                align-items: flex-end;
            }

            h2 {
                margin-bottom: 20px;
            }

            .no-purchases-container {
                display: flex;
                flex-direction: column;
                gap: 50px;

                button {
                    height: 56px;
                    border-radius: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                }
            }
        }
    }
}