footer {
    width: 100%;
    height: auto;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    .pay-methods {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        img {
            width: auto;
            height: 20px;
        }
    }
}